includes:
    - phpstan-baseline.neon

parameters:
    level: max

    paths:
        - src/

    ignoreErrors:
        -
            message: '#Trait .* is used zero times and is not analysed#'
            paths:
                - src/*/Testing/*.php
